html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#app {
    position: relative;
    background-color: black;
    left: 2.5%;
    width: 97.5%;
    height: 100%;
}


.side-menu {
    position: absolute;
    background-color: #263238;
    width: 2.5%;
    height: 100%;
}

.side-menu__current, .side-menu__buttons {
    width: 100%;
}

.side-menu__current {
    height: 100px;
    background-image: url("/resources/stone_orange.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.side-menu__buttons {

}

.img-btn {
    position: relative;
}

.img-btn__image {
    width: 100%;
    margin-bottom: 10px;
}

.img-btn__tip {
    position: absolute;
    color: #cfd8dc;
    font-size: 14px;
    font-family: Consolas;
    left: 0;
    top: 0;
}

.img-btn__tip--right {
    left: initial;
    right: 0;
}