html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.el--hidden {
    display: none;
}

.el--texted {
    color: #cfd8dc;
    font-size: 14px;
    font-family: Consolas;
    user-select: none;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#app {
    background-color: black;
    margin-left: 35px;
    width: calc(100% - 35px);
    height: 100%;
}


.side-menu {
    position: absolute;
    background-color: #263238;
    width: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side-menu__current, .side-menu__buttons {
}

.side-menu__current {
    height: 65px;
    background-image: url("/resources/stone_empty.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.side-menu__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.img-btn {
    position: relative;
}

.img-btn__image {
    width: 100%;
    user-select: none;
}

.img-btn__tip {
    position: absolute;
    left: 0;
    top: 0;
}

.img-btn__tip--right {
    left: initial;
    right: 0;
}

.scheme-name {
    position: fixed;
    right: 0;
    bottom: 0;
}

.header {
    color: #004d40;
    font-size: 16px;
    font-family: Consolas;
    font-weight: bold;
    user-select: none;
}

.saved-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #006064;
    font-size: 14px;
    font-family: Consolas;
    user-select: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.saved-links span {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #006064, #00acc1);
    background-size: 0 2px, 100% 2px;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.saved-links span:not(:first-child) {
}
.saved-links span:hover {
    background-size: 100% 2px, 0 2px;
}

.saved-links--levels {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: #1a237e;
}
.saved-links--levels span {
    margin-bottom: 5px;
    align-self: flex-start;
    background: linear-gradient(to right, #1a237e, #3949ab);
    background-size: 0 2px, 100% 2px;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
}