.modal-wrapper {
    background-color: rgba(66, 66, 66, 0.8);
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.modal-container {
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eceff1;
    width: 650px;
    top: 100px;
    margin-left: -325px;
    left: 50%;
}

.notice {
    position: fixed;
    top: 20px;
    right: 0;
}
.notice-container {
    border: 2px solid #1a237e;
    background-color: #3949ab;
    color: #cfd8dc;
    font-size: 16px;
    font-family: Consolas;
    user-select: none;
    padding: 20px 20px;
    transition: margin-left 400ms ease-in;
    word-wrap: normal;
    height: 100%;
    width: 100%;

    position: relative;
    margin-left: 100%;
}
.notice--error {
    border: 2px solid #bf360c;
    background-color: #f4511e;
}
.notice--on {
    margin-left: 0;
}